<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="annotatedClasses">
            <list>
                <value>com.scrbl.model.Users</value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
			    hibernate.dialect=${jdbc.hibernate.dialect}
				hibernate.show_sql=${jdbc.hibernate.showSql}
				hibernate.format_sql=${jdbc.hibernate.formatSql}
				hibernate.use_sql_comments=${jdbc.hibernate.useSqlComments}
				hibernate.auto_close_session=${jdbc.hibernate.autoCloseSession}
				
				hibernate.temp.use_jdbc_metadata_defaults=false
				
				hibernate.cache.region.factory_class=${jdbc.hibernate.cache.factory}
				hibernate.cache.use_second_level_cache=${jdbc.hibernate.cache.level2.enabled}
				hibernate.cache.use_query_cache=${jdbc.hibernate.cache.level2.query.enabled}
				
				<!-- hibernate.connection.driver_class=${jdbc.driverClassName}
				hibernate.connection.url=${jdbc.url}${jdbc.schema}
				hibernate.connection.username=${jdbc.username}
				hibernate.connection.password=${jdbc.password}
				
				hibernate.c3p0.min_size=${jdbc.hibernate.max_size}
				hibernate.c3p0.max_size=${jdbc.hibernate.min_size}
				hibernate.c3p0.timeout=${jdbc.hibernate.timeout}
				hibernate.c3p0.max_statements=${jdbc.hibernate.max_statements}
				hibernate.connection.provider_class=${jdbc.hibernate.connection.provider_class}
				hibernate.c3p0.idle_test_period=${jdbc.hibernate.idle_test_period}
				hibernate.c3p0.acquire_increment=${jdbc.hibernate.acquire_increment}
				hibernate.temp.use_jdbc_metadata_defaults=false -->
			</value>
		</property>
		
	</bean>

	<bean id="myTxManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
            <property name="sessionFactory" ref="mySessionFactory" />
  	</bean>
        
        <tx:annotation-driven transaction-manager="myTxManager"/>

</beans>
