<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- ******************************** IMPORTANT *************************************************** -->
	<!-- Make sure this is the parent class of all daos... will provide the sessionfactory injection... -->
	<bean id="abstractDao" abstract="true" class="com.scrbl.dao.impl.AbstractDao">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<!-- Begin of User related Daos -->
	<!--<bean id="activeDatesDao" class="com.scrbl.dao.impl.ActiveDatesDaoImpl" parent="abstractDao" /> -->

	<bean id="userDao" class="com.scrbl.dao.impl.UsersDaoImpl" parent="abstractDao" />
	<!-- End of User related Daos -->

</beans>
