<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- ******************************** IMPORTANT *************************************************** -->
	<!-- MAKE SURE ALL SERVICE CLASSES USES THIS AS THE BASE CLASS SO THAT ALL DAOS ARE ALREADY INJECTED
		 INTO THIS OBJECT.																				-->
	<bean id="abstractService" abstract="true" class="com.scrbl.service.impl.AbstractService">
		<!-- To be deleted -->
		<!--<property name="activeDatesDao" ref="activeDatesDao" /> -->
		<property name="userDao" ref="userDao" />
	</bean>

	<!-- To be deleted -->
	<!--<bean id="activeDatesService" class="com.scrbl.data.service.impl.ActiveDatesServiceImpl" parent="abstractService" />-->

	<bean id="usersService" class="com.scrbl.service.impl.UsersServiceImpl" parent="abstractService">
		<!--<property name="userPasswordEncoder" ref="userPasswordEncoder" /> -->
	</bean>

	<!-- Part of security, DO NOT INHERIT FROM ABSTRACT SERVICE!!!  -->
    <!--<bean id="userDetailService" class="com.scrbl.data.security.UserDetailsServiceImpl">
    	<property name="userDao" ref="userDao" />
    </bean> -->

</beans>
