<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="baseAction" abstract="true" class="org.lazypizza.web.actions.common.BaseAction">
		<property name="usersService" ref="usersService" />
		<property name="pizzaStorePersonnelService" ref="pizzaStorePersonnelService" />
		<property name="loginSubmissionUrl" value="/j_spring_security_check" />
		<property name="logoutSubmissionUrl" value="/j_spring_security_logout" />
	</bean>

	<bean id="homePageAction" scope="prototype" class="org.lazypizza.web.actions.userCommunity.HomePageAction" parent="baseAction" >
	</bean>
	
	<bean id="postLoginAction" scope="prototype" class="org.lazypizza.web.actions.security.PostLoginAction" parent="baseAction" >
		<property name="ordersService" ref="ordersService" />
	</bean>
	
	<bean id="loginPageAction" scope="prototype" class="org.lazypizza.web.actions.security.LoginPageAction" >
		<property name="loginSubmissionUrl" value="/j_spring_security_check" />
	</bean> -->
			
</beans>
